<div id=main>
  <h1  class="text-center">Fees Collection</h1>
   <hr>
   <div class="jumbotron">

      <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          Search Criteria :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="radio" id="nm" name="Criteria" value="student">&nbsp;&nbsp;
          <label for="male">Student Id</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="radio" id="nm" name="Criteria" value="name">&nbsp;&nbsp;
          <label for="female">Name</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        </div>
      </div>
    </div>

        <hr>

        <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="st">Student Id:</label>
                   <input type="text" class="form-control" id="st" placeholder=" Enter Student Id" name="Student Id">
               </div>
            
              <div class="form-group">
                <label for="sn">Student Name:</label>
                <input type="text" class="form-control" id="sn" placeholder=" Enter Student Name" name="studentname">
              </div>

              <div class="form-group">
                <label for="co">Course:</label>
                <input type="text" class="form-control" id="co" placeholder="" name="course">
              </div>

              <div class="form-group">
                <label for="fn">Full Name:</label>
                <input type="text" class="form-control" id="fn" placeholder="" name="fullname">
              </div>  

              <div class="form-group">
                <label for="mo">Mobile:</label>
                <input type="text" class="form-control" id="mo" placeholder="Enter Mobile No" name="mobile">
              </div>


              
              <div class="form-group">
                <label for="st">Student Type:</label>
                <input type="text" class="form-control" id="st" placeholder="" name="st">
              </div>
            </div>    
              

            <div class="col-sm-6">
              <div class="form-group">
                <label for="fy">Fee Type:</label>
                <input type="text" class="form-control" id="fy" placeholder="" name="fee">
              </div>


              <div class="form-group">
                <label for="fee">Fee Paid:</label>
                <input type="text" class="form-control" id="fee" placeholder="" name="fee paid">
              </div>

              <div class="form-group">
                <label for="s">Payment Option:</label>
                    <select class="form-control" id="s"  name="Status">
                      <option></option>
                      <option>Online</option>
                      <option>Offline</option>
                    </select>
              </div>  
              <div class="form-group">
                <label for="pay">Payment ID:</label>
                <input type="text" class="form-control" id="pay" placeholder="" name="pay">
              </div>

              <div class="form-group">
                <label for="pay">Amount:</label>
                <input type="text" class="form-control" id="pay" placeholder="" name="pay">
              </div>
     
             <button type="submit" class="btn btn-primary">Add</button>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
              <hr>
              <button type="submit" class="btn btn-primary">Cancel</button>  &nbsp;&nbsp;
              <button type="submit" class="btn btn-primary">Adjust </button>  &nbsp;&nbsp;
              <button type="submit" class="btn btn-primary">Submit</button>   
            </div>
       </div>
    </div>
</div>