<div id=main>
  <h1  class="text-center">Fees Collection</h1>
   <hr>
   <div class="jumbotron">

      <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          Search Criteria :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="radio" id="nm" name="Criteria" value="student">&nbsp;&nbsp;
          <label for="male">Student Id</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="radio" id="nm" name="Criteria" value="name">&nbsp;&nbsp;
          <label for="female">Name</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        </div>
      </div>
    </div>

        <hr>

        <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="st">Student Id:</label>
                   <input type="text" class="form-control" id="st"  name="Student Id" disabled >
               </div>
            
              <div class="form-group">
                <label for="sn">Student Name:</label>
                <input type="text" class="form-control" id="sn" name="studentname" disabled >
              </div>
              <div class="form-group">
                <label for="co">Academic Year:</label>
                <input type="text" class="form-control" id="co"  name="course" disabled >
              </div>


              <div class="form-group">
                <label for="co">Course:</label>
                <input type="text" class="form-control" id="co"  name="course" disabled >
              </div>

              <div class="form-group">
                <label for="co">Year:</label>
                <input type="text" class="form-control" id="co"  name="course" disabled >
              </div>



              <div class="form-group">
                <label for="pay">Total Fees:</label>
                <input type="text" class="form-control" id="pay"  name="pay" disabled>
              </div>


              <div class="form-group">
                <label for="fee">Fee Paid:</label>
                <input type="text" class="form-control" id="fee" placeholder="Enter Amount" name="fee paid">
              </div>
              <hr>
              <button type="submit" class="btn btn-primary">Pay Fees</button>   
       </div>
    </div>
</div>